<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<mvc:annotation-driven />
		 
	<mvc:default-servlet-handler />
		 
	<context:component-scan base-package="com.hjrz.controller"/>

	<mvc:resources mapping="*.css" location="/" />
	<mvc:resources mapping="*.js" location="/" />
	<mvc:resources mapping="*.jpg" location="/" />
	<mvc:resources mapping="*.png" location="/" />
	<mvc:resources mapping="*.jpeg" location="/" />


	<bean name="springContextUtil" class="com.hjrz.util.SpringContextUtil" scope="singleton"/>

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="mappingJacksonHttpMessageConverter"
		  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name = "supportedMediaTypes">
			<list>
				<bean class="org.springframework.http.MediaType">
					<constructor-arg index="0" value="text"/>
					<constructor-arg index="1" value="plain"/>
					<constructor-arg index="2" value="UTF-8"/>
				</bean>
				<bean class="org.springframework.http.MediaType">
					<constructor-arg index="0" value="*"/>
					<constructor-arg index="1" value="*"/>
					<constructor-arg index="2" value="UTF-8"/>
				</bean>
				<bean class="org.springframework.http.MediaType">
					<constructor-arg index="0" value="text"/>
					<constructor-arg index="1" value="*"/>
					<constructor-arg index="2" value="UTF-8"/>
				</bean>
				<bean class="org.springframework.http.MediaType">
					<constructor-arg index="0" value="application"/>
					<constructor-arg index="1" value="json"/>
					<constructor-arg index="2" value="UTF-8"/>
				</bean>
			</list>
		</property>
	</bean>


	<!-- 对模型视图添加前后缀 -->
	 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- 配置springMVC处理上传文件的信息 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="1073741824"/>
        <property name="maxUploadSizePerFile" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

	<!-- 异常解析器 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="/error.jsp"/>
	</bean>
</beans>